exports.settings = {
    realms: [ 'admin', 'editor' ],
    users: {
        'alice': {
            password: "nodejs",
            realms: ['editor']
        },
        'bob': {
            password: "nodejs",
            realms: ['admin', 'editor']
        }
    }
};
