.date {
    font-size: xx-small;
    color: black;
}

#calendar {
    width: 100%;
    height: 95%;
    background-color: white;
}

#calendar table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#calendar table tr td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid lightgray;
}


.cover-thumb-full {
    border: black solid 1px;
    margin: 0 auto;
}

.cover-thumb-center {
    border: black solid 1px;
    margin: 0 auto;
}

.cover-thumb-north {
    border: black solid 1px;
    margin: 0 auto;
}

.cover-thumb-west {
    position: relative;
    border: black solid 1px;
    margin: 0 auto;
}

.cover-thumb-center .cover-thumb-u {
    color: white;
    font-size: xx-small;
    text-align: left;
}

.cover-thumb-full {
    position: relative;
}

.cover-thumb-full .cover-thumb-u {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 80%;
    color: white;
    font-size: xx-small;
    text-align: left;
}

.cover-thumb-full .cover-thumb-w img {
    height: 100%;
    width: 100%;
}

.cover-thumb-west .cover-thumb-v {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10%;
    color: white;
    font-size: xx-small;
    text-align: left;
}

.cover-thumb-west .cover-thumb-w {
    position: absolute;
    top:  0px;
    left: 0px;
    height: 100%;
    width: 80%;
    color: white;
    font-size: xx-small;
    text-align: left;
}

.cover-thumb-west .cover-thumb-w img {
    height: 100%;
    width: 100%;
}

.cover-thumb- img {
    display: none;
}
.cover-thumb- .cover-thumb-v {
    display: none;
}

.cover-thumb- .cover-thumb-u {
    display: none;
}

.cover-thumb-full .cover-thumb-v {
    display: none;
}

.cover-thumb-center .cover-thumb-v {
    display: none;
}

.cover-thumb-north .cover-thumb-v {
    display: none;
}

.cover-thumb-west .cover-thumb-u {
    display: none;
}
