body {
    width: 960px;
    margin: 0 auto;
    background-color: #1f1f1f;
}

#header {
    width: 960px;
    height: 100px;
    color: white;
}

#logo {
    float: left;
}

#title {
    float: left;
    margin-left: 30px;
    font-size: medium;
}

#menu-container {
    float: right;
    font-size: medium;
}

#footer {
    float: right;
    font-size: small;
}

.section {
    width: 960px;
    height: 170px;
    margin-top: 20px;
    color: #eeeeee;
}

.section h1 {
    font-size: large;
    margin-bottom: 1em;
    color: #eeeeee;
}

.section h1 sup {
    font-size: small;
}

.intro {
    font-size: small;
    color: #999;
    padding: 0 10px;
}

.major {
    width: 65%;
}

.minor {
    width: 20%;
    padding-right: 8%;
}

.date {
    margin-top: 3px;
    font-size: small;
    color: white;
    text-align: center;
}

.clear {
    clear: both;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 10px;
    font-size: small;
    font-weight: normal;
}

.menuitem {
    float: left;
    margin: 0 10px 0 0;
    padding: 3px 3px 15px 3px;
    color: white;
    display: list-item;
}

.red {
    background-color: #aa0000;
}

.yellow {
    background-color: #aa8800;
}

.blue {
    background-color: #0000aa;
}

.red-color {
    color: #aa0000;
}

.yellow-color {
    color: #aa8800;
}

.blue-color {
    color: #0000aa;
}

.previous, .left {
    float: left;
}

.next, .right {
    float: right;
}

.corner-all {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

.corner-half {
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px 10px;
}

#menu-container {
    padding: 0 10px 10px 10px;
    background-color: #282828;
}

#daily {
    background-color: #282828;
}

#daily-detail {
    float: left;
    margin-top: 20px;
}

#planed {
    font-size: small;
    color: #999;
}

#books {
    padding: 10px;
    background-color: #282828;
}

#square {
    padding: 10px;
    background-color: #282828;
}


.mag {
    display: block;
    position: relative;
}

.cover-small-full {
    border: white solid 1px;
    margin: 0 auto;
}

.cover-small-center {
    border: white solid 1px;
    margin: 0 auto;
}

.cover-small-north {
    border: white solid 1px;
    margin: 0 auto;
}

.cover-small-west {
    position: relative;
    border: white solid 1px;
    margin: 0 auto;
}

.cover-small-full {
    position: relative;
}

.cover-small-center .cover-small-u {
    color: white;
    font-size: small;
    text-align: left;
    height: 15%;
    padding: 2px;
}

.cover-small-center .cover-small-w {
    width: 100%;
    height: 100%;
    margin-top: -20%;
}

.cover-small-center .cover-small-w table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.cover-small-center .cover-small-w table tr td div {
    margin: auto;
    line-height: 100%;
}

.cover-small-full .cover-small-w img {
    height: 100%;
    width: 100%;
}

.cover-small-west .cover-small-v {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10%;
    color: white;
    font-size: small;
    text-align: left;
}

.cover-small-west .cover-small-w {
    position: absolute;
    top:  0px;
    left: 0px;
    height: 100%;
    width: 80%;
    color: white;
    font-size: small;
    text-align: left;
}

.cover-small-west .cover-small-w img {
    height: 100%;
    width: 100%;
}

.cover-small- img {
    display: none;
}
.cover-small- .cover-small-v {
    display: none;
}

.cover-small- .cover-small-u {
    display: none;
}

.cover-small-full .cover-small-v {
    display: none;
}

.cover-small-center .cover-small-v {
    display: none;
}

.cover-small-north .cover-small-v {
    display: none;
}

.cover-small-west .cover-small-u {
    display: none;
}
