#cover-htitle {
    display: none;
}

#cover-vtitle {
    float: right;
    font-size: xx-large;
    line-height: 40px;
}

#cover-top {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40%;
    font-size: small;
    color: white;
}
#cover-top ul {
    margin-left: 0em;
}
#cover-top ul li {
    margin-left: 0.5em;
}
#cover-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40%;
    font-size: small;
}
#cover-left ul {
    margin-left: 0em;
}
#cover-left ul li {
    margin-left: 0.5em;
}
#cover-right {
    position: absolute;
    bottom: 10px;
    left: 230px;
    width: 40%;
    font-size: small;
    color: white;
}
#cover-right ul {
    margin-left: 0em;
}
#cover-right ul li {
    margin-left: 0.5em;
}

