<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/style-loader.js"></script>
  <script src="/javascripts/magazine.js"></script>
  <title>维基日刊</title>
</head>
<body>

<div id="hposition">
<div id="vposition">

<div id="leftbar">
    <div id="go_prev" class="clickable">上一页</div>
    <div id="go_toc_left" class="clickable">目　录</div>
</div>

<div id="doublepage">
    <div id="leftpage">
      <div id="leftview">
        <div id="leftcontent" class="content"></div>
      </div>
    </div>
    <div id="rightpage">
      <div id="rightview">
        <div id="rightcontent" class="content"></div>
      </div>
    </div>
</div>

<div id="rightbar">
    <div id="go_next" class="clickable">下一页</div>
    <div id="go_toc_right" class="clickable">目　录</div>
</div>

</div>
</div>

<div id="contents"></div>
<script>
$(function () {
    daily.load('<%= year %>/<%= month %>/<%= day %>');
});
</script>
</body>
</html>
