<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="zh-cn">
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/jquery.mousewheel.js"></script>
  <script src="/javascripts/jcarousellite.min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/carousel.js"></script>
  <title>维基新知－首页</title>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
</head>
<body>
<div id="header">
  <div id="logo">
      <a href="./" title="维基新知"><img src="/images/logo-title.png" width="240" height="60" alt="维基新知"/></a>
      <!--div id="title">普及新知，传播自由文化</div-->
  </div>
  <div id="menu-container" class="corner-half">
    <ul class="menu">
      <li class="menuitem yellow">日刊</li>
      <li class="menuitem blue">图书</li>
      <li class="menuitem red">广场</li>
    </ul>
  </div>
</div>

<div id="daily" class="section corner-all">
  <div id="daily-intro" class="minor intro left">
  <h1>维基日刊<sup>Alpha</sup></h1>
  <p>每日从维基百科最新的编辑成果中遴选出文章结集成一本杂志。</p>
  </div>
  <div class="previous"><img src="/images/p.png" width="40px"></div>
  <div id="daily-detail" class="major detail right"></div>
  <div class="next"><img src="/images/n.png" width="40px"></div>
</div>

<div id="planed" class="section">
  <div id="books" class="left corner-all">
    <div class="left">
      <img src="/images/library.jpg" />
    </div>
    <div class="right intro">
      <h1>维基图书<sup>计划中</sup></h1>
      <p>维基百科和维基文库优秀文章作成的电子书。</p>
    </div>
  </div>
  <div id="square" class="right corner-all">
    <div class="left">
      <img src="/images/square.jpg" />
    </div>
    <div class="right intro">
      <h1>维基广场<sup>计划中</sup></h1>
      <p>维基百科上的讨论、Twitter的维基相关热点。</p>
    </div>
  </div>
</div>

<div id="footer" class="right corner-all">
  <p>关于&nbsp;/&nbsp;团队&nbsp;/&nbsp;参与&nbsp;/&nbsp;版权</p>
  <p><img src="/images/CC-BY-SA-icon-80x15.png" /></p>
</div>

<script>
    $(function() {
        carousel();
    });
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<%= ga %>']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
