<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/style-loader.js"></script>
  <script src="/javascripts/calendar.js"></script>
  <title>维基日刊</title>
  <link rel="stylesheet" href="/styles/calendar.css" type="text/css" media="screen" />
</head>
<body>

<div id="hposition">
<div id="vposition">

<div id="doublepage"><div id="calendar"></div></div>


</div>
</div>

<script>
    $(function() {
      calendar();
    });
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<%= ga %>']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
