<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="zh-cn">
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0"
   href="http://zh.wikipedia.org/w/index.php?title=Wikipedia:%E9%A6%96%E9%A1%B5/rss&action=raw&ctype=application/rss+xml">
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/style-loader.js"></script>
  <script src="/javascripts/calendar.js"></script>
  <title>维基日刊</title>
  <link rel="stylesheet" href="/styles/calendar.css" type="text/css" media="screen" />
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<%= ga %>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>

<h2 style="text-align:center;color:white;margin-top:5px;">维基日刊（Alpha）</h2>
<div id="notice"><ul><li><a href="https://github.com/mountain/distilled/issues">意见反馈</a></li><li><a href="https://github.com/mountain/distilled">参与开发</a></li></ul></div>

<div id="hposition">
<div id="vposition">

<div id="doublepage"><div id="calendar"></div></div>


</div>
</div>

<script>
    $(function() {
      calendar();
    });
</script>
</body>
</html>
