<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/style-loader.js"></script>
  <script src="/javascripts/calendar.js"></script>
  <title>维基日刊</title>
  <link rel="stylesheet" href="/styles/calendar.css" type="text/css" media="screen" />
</head>
<body>

<div id="hposition">
<div id="vposition">

<div id="doublepage"><div id="calendar"></div></div>


</div>
</div>

<script>
    $(function() {
      calendar();
    });
</script>
</body>
</html>
