<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="zh-cn">
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/jcarousellite.min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/carousel.js"></script>
  <title>维基新知－参与</title>
</head>
<body>
<div id="header">
  <div id="logo">
      <a href="/" title="维基新知"><img src="/images/logo-title.png" width="240" height="60" alt="维基新知"/></a>
      <!--div id="title">普及新知，传播自由文化</div-->
  </div>
  <div id="menu-container" class="corner-half">
    <ul class="menu">
      <li class="menuitem yellow"><a href="/issues/">日刊</a></li>
      <li class="menuitem blue">图书</li>
      <li class="menuitem red">广场</li>
    </ul>
  </div>
</div>

<div id="participation" class="section corner-all">
  <div id="participation-intro" class="intro left">
    <h1>参与</h1>
    <h2>投稿</h1>
    <p>如果您希望投稿，那么请直接参与<a href="http://zh.wikipedia.org">维基百科</a>的撰写，我们的稿件都是经过社群的评选进而筛选出来的。</p>
    <h2>参与开发</h1>
    <p>如果您希望参与开发，那么请至<a href="https://github.com/mountain/distilled">GitHub</a>下载代码，并发信至mingli.yuan+wikiedge AT gmail.com说明您的经验和期望的参与方式。</p>
    <h2>参与编辑</h1>
    <p>如果您希望参与编辑，那么请发信至mingli.yuan+wikiedge AT gmail.com说明您的经验和期望的参与方式。</p>
  </div>
  <div class="right" style="padding-top:5px;">
      <img src="/images/hands.jpg" />
      <p style="font-size: xx-small;text-align: right;">本图由<a href="http://www.flickr.com/photos/alicepopkorn/">AlicePopkorn</a>摄制，并依CC-BY分享。</p>
  </div>
</div>

<div id="footer">
  <p><a href="/about">关于</a>&nbsp;/&nbsp;<a href="/team">团队</a>&nbsp;/&nbsp;<a href="/participation">参与</a></p>
  <p><img src="/images/CC-BY-SA-icon-80x15.png" /></p>
</div>

<script>
    $(function() {
        carousel();
    });
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<%= ga %>']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
