<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="content-language" content="zh-cn">
  <link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/jcarousellite.min.js"></script>
  <script src="/javascripts/underscore-min.js"></script>
  <script src="/javascripts/carousel.js"></script>
  <title>维基新知－团队</title>
</head>
<body>
<div id="header">
  <div id="logo">
      <a href="/" title="维基新知"><img src="/images/logo-title.png" width="240" height="60" alt="维基新知"/></a>
      <!--div id="title">普及新知，传播自由文化</div-->
  </div>
  <div id="menu-container" class="corner-half">
    <ul class="menu">
      <li class="menuitem yellow"><a href="/issues/">日刊</a></li>
      <li class="menuitem blue">图书</li>
      <li class="menuitem red">广场</li>
    </ul>
  </div>
</div>

<div id="team" class="section corner-all">
  <div id="team-intro" class="intro left">
    <h1>团队</h1>
    <h2>理事会</h2>
    <p><a href="http://isaacmao.com">毛向辉</a>（<a href="http://twitter.com/isaac">Isaac Mao</a>）、<a href="http://www.dbanotes.net">冯大辉</a>（<a href="http://twitter.com/fengg">Fengg</a>）、<a href="http://www.ilyagram.org">李士杰</a>（<a href="http://twitter.com/ilya">Ilya</a>）、<a href="http://blog.devep.net/virushuo/">霍炬</a>（<a href="http://twitter.com/virusho">Virusho</a>）、<a href="http://brucewang.net">王鹏</a>（<a href="http://twitter.com/number5">Number5</a>）、<a href="http://shizhao.org">时昭</a>（<a href="http://twitter.com/shizhao">Shizhao</a>）、<a href="http://onecorner.org">苑明理</a>（<a href="http://twitter.com/mountain">Mountain</a>）</p>
    <h2>源码贡献者</h2>
    <p><a href="http://thekaiway.com">陈恺</a>（<a href="http://twitter.com/chenk85">Kaichen</a>）、<a href="http://onecorner.org">苑明理</a>（<a href="http://twitter.com/mountain">Mountain</a>）</p>
    <h2>内容编辑</h2>
    <p></p>
  </div>
  <div class="right" style="padding-top:5px;">
      <img src="/images/bee.jpg" />
      <p style="font-size: xx-small;text-align: right;">本图由<a href="http://www.flickr.com/photos/majamarko/">majamarko</a>摄制，并依CC-BY-NC分享。</p>
  </div>
</div>

<div id="footer">
  <p><a href="/about">关于</a>&nbsp;/&nbsp;<a href="/team">团队</a>&nbsp;/&nbsp;<a href="/participation">参与</a></p>
  <p><img src="/images/CC-BY-SA-icon-80x15.png" /></p>
</div>

<script>
    $(function() {
        carousel();
    });
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<%= ga %>']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
